body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    height: 100vh;
    background-image: url('https://1847884116.rsc.cdn77.org/tamil/home/dhoni220221_1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 200px;
    text-align: center;
}

.hero-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

main {
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.photo {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 5px;
}
